.cc-revoke.cc-bottom {
    bottom: 0%;
    left: 0em;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    font-size: 8pt;
    /* -webkit-transform: translateY(-100%) rotate(90deg);
    -moz-transform: translateY(-100%) rotate(90deg);
    -moz-transform-origin: right top;
    -ms-transform: translateY(-100%) rotate(90deg);
    -o-transform: translateY(-100%) rotate(90deg); 
    transform: translateY(-100%) rotate(90deg); 
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    transform-origin: left bottom; */
};

.cc-revoke, .cc-window {
    /* margin-top: 10px; */
    position: fixed;
    /* overflow: hidden; */
    box-sizing: border-box;
    font-family: Helvetica,Calibri,Arial,sans-serif;
    font-size: 10pt;
    /* line-height: 0.5em; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    z-index: 9999;
}